@charset "UTF-8";
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
/*
    Features Pricing Resources Login Sign Up More than just shorter links Build
    your brand’s recognition and get detailed insights on how your links are
    performing. Get Started Shorten a link here... Shorten It! Advanced
    Statistics Track how your links are performing across the web with our
    advanced statistics dashboard. Brand Recognition Boost your brand
    recognition with each click. Generic links don’t mean a thing. Branded links
    help instil confidence in your content. Detailed Records Gain insights into
    who is clicking your links. Knowing when and where people engage with your
    content helps inform better decisions. Fully Customizable Improve brand
    awareness and content discoverability through customizable links,
    supercharging audience engagement. Boost your links today Get Started
    Features Link Shortening Branded Links Analytics Resources Blog Developers
    Support Company About Our Team Careers Contact
*/
*,
::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Poppins", sans-serif;
  position: relative;
  width: 100%;
  max-width: 100%; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 85em) {
    html {
      font-size: 57.5%; } }
  @media only screen and (max-width: 60em) {
    html {
      font-size: 53%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 49%; } }
  @media only screen and (max-width: 30em) {
    html {
      font-size: 45%; } }

.heading {
  font-weight: 700; }
  .heading__primary {
    font-size: 7rem;
    color: #3b3054; }
  .heading__secondary {
    font-size: 4rem; }
  .heading__tertiary {
    font-size: 3rem; }

.paragraph__primary {
  font-size: 2rem;
  font-weight: 500;
  color: #9e9aa7;
  line-height: 1.5; }

.paragraph__nav {
  font-weight: 500; }
  .paragraph__nav:hover {
    font-weight: 700; }

.btn, .btn:link, .btn:visited {
  overflow: hidden;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  box-shadow: 0.2rem 0.5rem 2rem rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
  text-align: center;
  padding: 1.5rem 4rem;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.3rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  background-color: #3b3054; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn__primary {
  background-color: #2acfcf;
  color: #fff;
  overflow: hidden;
  position: relative; }
  .btn__primary::after {
    background-color: #2acfcf; }

.btn__rectangle {
  position: relative;
  background-color: #2acfcf;
  border-radius: 1rem;
  color: #fff;
  padding: 2rem 2.5rem;
  font-weight: 500;
  font-size: 2rem;
  overflow: hidden; }
  .btn__rectangle::after {
    background-color: #2acfcf;
    border-radius: 1rem; }
  .btn__rectangle:focus {
    background-color: #6a49d0; }

.circle {
  z-index: 8;
  overflow: hidden;
  position: absolute;
  background-color: #fff;
  width: 26rem;
  height: 26rem;
  border-radius: 100%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 1s ease-in; }

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(4);
    opacity: 0; } }

.loading {
  visibility: hidden;
  opacity: 0;
  display: none;
  background-color: #1d1b1b4b;
  height: 200vh;
  width: 100%;
  position: fixed;
  top: -100vh;
  backdrop-filter: blur(1rem);
  transition: 1s all;
  z-index: 99; }

#loader {
  z-index: 99;
  border: 12px solid #3b3054;
  border-radius: 50%;
  border-top: 12px solid #fff;
  width: 7rem;
  height: 7rem;
  animation: spin 1s linear infinite;
  top: 150vh;
  visibility: hidden;
  opacity: 0;
  display: none;
  transition: 1s all; }

@keyframes spin {
  100% {
    transform: rotate(360deg); } }

.center {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: 1s all; }

.footer {
  display: grid;
  width: 100%;
  height: 35rem;
  background-color: #232127;
  grid-template-columns: 35% repeat(3, 15%) 1fr;
  padding: 5rem;
  grid-template-rows: 1fr; }
  @media only screen and (max-width: 60em) {
    .footer {
      grid-template-columns: 1fr;
      height: 100%;
      text-align: center; } }

.side {
  display: flex;
  flex-direction: column;
  padding: 3rem; }
  @media only screen and (max-width: 60em) {
    .side {
      margin: 0 auto; } }
  .side__title {
    color: #fff;
    font-weight: 900;
    font-size: 2.5rem;
    margin-bottom: 2rem; }
  .side__links {
    transition: 0.5s all;
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem; }
    .side__links:hover {
      color: #2acfcf; }

.side1 {
  text-align: start; }

.side5 {
  display: flex;
  flex-direction: row; }
  .side5 svg {
    margin-right: 3rem; }
  .side5 .social__icon {
    transition: 0.5s all;
    cursor: pointer; }
    .side5 .social__icon:hover {
      fill: #2acfcf; }

.main {
  position: relative;
  background-color: rgba(191, 191, 191, 0.5);
  margin-top: 25rem; }

#section__form {
  position: relative;
  top: -10rem; }

.form__url {
  background-color: #3b3054;
  position: relative;
  height: 20rem;
  margin: 3rem auto;
  margin-top: 10rem;
  width: 80%;
  padding: 6rem;
  display: grid;
  grid-template-columns: 80% 1fr;
  border-radius: 1rem; }
  @media only screen and (max-width: 60em) {
    .form__url {
      grid-template-columns: 1fr;
      padding: 3rem;
      height: 30rem; } }
  .form__url .url {
    border-radius: 1rem;
    outline: none;
    border: none;
    font-size: 3rem;
    color: #9e9aa7;
    padding: 0 4rem;
    margin-right: 3rem; }
    .form__url .url::placeholder {
      font-size: 2.2rem;
      padding: 0 2rem; }
    @media only screen and (max-width: 60em) {
      .form__url .url {
        margin: 2rem auto;
        width: 100%; } }
  .form__url .btn {
    font-weight: 700;
    font-size: 3rem; }
    @media only screen and (max-width: 85em) {
      .form__url .btn {
        font-size: 2rem;
        padding: 0; } }
    @media only screen and (max-width: 60em) {
      .form__url .btn {
        font-size: 4rem; } }

.error-message {
  opacity: 0; }

.error-message {
  position: absolute;
  bottom: 3rem;
  left: 7rem;
  font-size: 2rem;
  color: #f46262; }
  @media only screen and (max-width: 60em) {
    .error-message {
      bottom: 0;
      top: 1.5rem;
      left: 4rem; } }

.error .url {
  border: 2px solid #f46262; }

.shortenedUrls .urls {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 2rem auto;
  border-radius: 2rem;
  padding: 1rem 4rem;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5); }
  @media only screen and (max-width: 60em) {
    .shortenedUrls .urls {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      height: 35rem;
      text-align: start;
      overflow: hidden; } }
  .shortenedUrls .urls .paragraph__primary {
    color: #000000;
    font-weight: 700; }
    @media only screen and (max-width: 60em) {
      .shortenedUrls .urls .paragraph__primary {
        font-size: 3rem; } }
    @media only screen and (max-width: 37.5em) {
      .shortenedUrls .urls .paragraph__primary {
        font-size: 2.2rem; } }

.shortenedUrls .result {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 60em) {
    .shortenedUrls .result {
      flex-direction: column;
      align-items: flex-start;
      margin: 0 auto;
      width: 100%;
      overflow: hidden; } }
  .shortenedUrls .result .btn {
    margin-left: 3rem; }
    @media only screen and (max-width: 60em) {
      .shortenedUrls .result .btn {
        margin: 0 auto;
        width: 100%;
        font-size: 3rem;
        font-weight: 700; } }
  .shortenedUrls .result .shortenedLink {
    color: #2acfcf;
    font-weight: 700; }
    @media only screen and (max-width: 60em) {
      .shortenedUrls .result .shortenedLink {
        font-size: 4rem;
        margin-bottom: 2rem; } }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15rem;
  position: relative;
  padding: 3rem 5rem;
  transition: 1s all;
  width: 100%; }
  .nav__logo {
    width: 20%; }
    @media only screen and (max-width: 60em) {
      .nav__logo {
        width: 100%; } }
  .nav__links {
    transition: 1s all;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.5rem;
    list-style: none; }
    .nav__links--1 {
      display: flex;
      align-items: center;
      margin-left: 4rem; }
    .nav__links--2 {
      display: flex;
      align-items: center; }
    @media only screen and (max-width: 60em) {
      .nav__links {
        opacity: 0;
        visibility: hidden;
        display: none; } }
  .nav__link {
    transition: 1s all;
    color: #9e9aa7;
    margin-left: 4rem;
    text-decoration: none; }
    .nav__link:hover {
      font-weight: 700; }
    .nav__link.btn {
      color: #fff;
      font-weight: 500; }
      .nav__link.btn:hover {
        font-weight: 700;
        background-color: rgba(42, 207, 207, 0.8); }

.hamburger {
  transition: 1s all;
  opacity: 0;
  visibility: hidden;
  display: none;
  position: relative;
  cursor: pointer; }
  .hamburger__line {
    width: 5rem;
    height: 0.5rem;
    z-index: 3;
    background-color: #2acfcf;
    margin: 0.5rem;
    display: block; }
  @media only screen and (max-width: 60em) {
    .hamburger {
      opacity: 1;
      visibility: visible;
      display: block; } }

.active {
  transition: 1s all; }
  .active .nav__links {
    transition: 1s all;
    opacity: 1;
    visibility: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3b3054;
    font-weight: 700;
    height: 70vh;
    z-index: 99;
    transform: translate(-50%, 10%); }
    .active .nav__links--1 {
      flex-direction: column; }
    .active .nav__links--2 {
      flex-direction: column; }
    @media only screen and (max-width: 37.5em) {
      .active .nav__links {
        height: 40vh; } }
  .active .nav__link {
    position: relative;
    margin: 5rem 0;
    font-size: 5rem;
    color: #fff; }
    .active .nav__link.btn__primary {
      width: 100%;
      padding: 2rem 15rem; }
      @media only screen and (max-width: 37.5em) {
        .active .nav__link.btn__primary {
          padding: 2rem 10rem; } }
  .active .hamburger__line:nth-child(1) {
    transform: translateY(3px) rotate(45deg); }
  .active .hamburger__line:nth-child(2) {
    opacity: 0; }
  .active .hamburger__line:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg); }
  .active #link1 {
    margin: 5rem 0; }

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 85em) {
    .hero {
      flex-direction: column-reverse;
      justify-content: center;
      margin: 0 auto;
      text-align: center; } }
  .hero__intro {
    margin-left: 7rem; }
    @media only screen and (max-width: 60em) {
      .hero__intro {
        margin-left: 0; } }
    .hero__intro .heading__primary {
      margin-bottom: 1rem;
      font-size: 9rem; }
      @media only screen and (max-width: 85em) {
        .hero__intro .heading__primary {
          margin-top: 10rem;
          font-size: 7rem; }
          .hero__intro .heading__primary br {
            display: none; } }
    .hero__intro .paragraph__primary {
      margin-bottom: 4rem;
      font-size: 2.5rem; }
  .hero__illustration--img {
    width: 90%; }
    @media only screen and (max-width: 85em) {
      .hero__illustration--img {
        margin-top: 10rem;
        width: 80%; } }

.section-statistics {
  margin: 0 auto;
  margin-top: 5rem;
  max-width: 80%;
  padding-bottom: 20rem; }
  @media only screen and (max-width: 60em) {
    .section-statistics {
      padding-bottom: 10rem; } }
  .section-statistics .statistics {
    margin: 0 auto;
    text-align: center; }
    .section-statistics .statistics__description {
      margin: 2rem 0;
      color: #3b3054;
      font-size: 2.5rem; }
      @media only screen and (max-width: 60em) {
        .section-statistics .statistics__description {
          margin-bottom: 7rem; } }
    .section-statistics .statistics__stats {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -10rem; }
      @media only screen and (max-width: 60em) {
        .section-statistics .statistics__stats {
          flex-direction: column;
          margin: 0; } }
      .section-statistics .statistics__stats .stats {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column; }
        .section-statistics .statistics__stats .stats__logo {
          background-color: #3b3054;
          border-radius: 50%;
          width: 10rem;
          height: 10rem;
          padding: 2.2rem;
          position: relative;
          align-self: flex-start;
          margin-left: 7rem; }
          @media only screen and (max-width: 60em) {
            .section-statistics .statistics__stats .stats__logo {
              align-self: unset;
              margin-left: 0;
              height: 100%;
              width: 12rem; } }
        .section-statistics .statistics__stats .stats--2 {
          margin-top: 15rem; }
        .section-statistics .statistics__stats .stats--3 {
          margin-top: 30rem; }
        @media only screen and (max-width: 60em) {
          .section-statistics .statistics__stats .stats {
            margin: 2rem 0; } }
        .section-statistics .statistics__stats .stats__description {
          background-color: #fff;
          border-radius: 1rem;
          padding: 5rem 3rem;
          margin: 0 3rem;
          margin-top: -4rem; }
          .section-statistics .statistics__stats .stats__description--heading {
            margin: 2rem 0; }
          @media only screen and (max-width: 60em) {
            .section-statistics .statistics__stats .stats__description {
              text-align: center; } }

.section__boost {
  position: relative;
  height: 30rem;
  background-color: #3b3054;
  display: flex;
  align-items: center;
  justify-content: center; }
  .section__boost .boost {
    width: 100%;
    background-image: url(../images/bg-boost-desktop.svg);
    color: #fff;
    text-align: center;
    height: 100%;
    padding-top: 10rem; }
    .section__boost .boost .heading__secondary {
      margin-bottom: 5rem; }
