.loading {
    visibility: hidden;
    opacity: 0;
    display: none;
    background-color: #1d1b1b4b;
    height: 200vh;
    width: 100%;
    position: fixed;
    top: -100vh;
    backdrop-filter: blur(1rem);
    transition: 1s all;
    z-index: 99;
}

#loader {
    z-index: 99;
    border: 12px solid $Dark-Violet;
    border-radius: 50%;
    border-top: 12px solid #fff;
    width: 7rem;
    height: 7rem;
    animation: spin 1s linear infinite;
    top: 150vh;
    visibility: hidden;
    opacity: 0;
    display: none;

    transition: 1s all;
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
.center {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: 1s all;
}
