.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;

    &__intro {
        .heading__primary {
            margin-bottom: 1rem;
            font-size: 9rem;
        }
        .paragraph__primary {
            margin-bottom: 4rem;
            font-size: 2.5rem;
        }
    }
}
