.section-statistics {
    margin: 0 auto;
    margin-top: 5rem;
    max-width: 80%;
    padding-bottom: 20rem;
    @include respond(tab-port) {
        padding-bottom: 10rem;
    }

    .statistics {
        margin: 0 auto;
        text-align: center;
        &__description {
            margin: 2rem 0;
            color: $Dark-Violet;
            font-size: 2.5rem;
            // color: $Grayish-Violet;
            @include respond(tab-port) {
                margin-bottom: 7rem;
            }
        }

        &__stats {
            position: relative;
            display: flex;
            // flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-top: -10rem;
            @include respond(tab-port) {
                flex-direction: column;
                margin: 0;
            }

            .stats {
                @include absCenter2;
                flex-direction: column;
                &__logo {
                    background-color: $Dark-Violet;
                    border-radius: 50%;
                    width: 10rem;
                    height: 10rem;
                    padding: 2.2rem;
                    position: relative;
                    align-self: flex-start;
                    margin-left: 7rem;

                    @include respond(tab-port) {
                        align-self: unset;
                        margin-left: 0;
                        height: 100%;
                        width: 12rem;
                    }
                }
                &--2 {
                    margin-top: 15rem;
                }
                &--3 {
                    margin-top: 30rem;
                }
                @include respond(tab-port) {
                    margin: 2rem 0;
                }

                &__description {
                    background-color: #fff;
                    border-radius: 1rem;
                    padding: 5rem 3rem;
                    margin: 0 3rem;
                    margin-top: -4rem;
                    &--heading {
                        margin: 2rem 0;
                    }
                    @include respond(tab-port) {
                        text-align: center;
                    }
                }
            }
        }
    }
}
